
.jumbotron{
	margin: 10px;
	margin-bottom: 20px;
	background-color: #c5c568;
}

p{
	padding: 10px;
}

ul{
	background-color: pink;
}

.navbar-brand{
	color: #08000091;
	font-size: 25px;
	text-decoration: bold;
}
.navbar-default .navbar-brand {
    color: #0c0000;
    height: 20px;
}
